@media screen and (max-width: 576px) {
    .header-top {
        justify-content: center;
        padding-right: 0;
    }

    .link1 {
        font-size: 20px;
    }

    .header-bottom-left {
        margin-right: 30px;
    }

    .header-bottom-right {
        display: none;
    }

    .main-main {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .round {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .cards {
        padding: 20px;
    }

    .cards-item {
        width: 90%;
    }

    .bottom-part {
        flex-wrap: wrap;
        padding: 20px;
    }

    .footer {
        padding: 0 0;
    }
}