* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;

}

.bg {
    background: gray;
}

.border {
    border: 2px solid black;
    border-radius: 10px;
}

.header {
    height: 150px;
    margin-bottom: 5px;
}

.main {
    display: flex;
    column-gap: 5px;

}

.main-left {
    height: 400px;
    flex-grow: 4;
}

.main-right {
    flex-grow: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

