* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.top {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;

}

.item {
    height: 500px;
    flex-grow: 1;
    background: #90a5ea;
}

.main {
    background: #90a5ea;
    height: 200px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    column-gap: 20px;

}

.item2 {
    height: 200px;
    background: #0e3fde;
    flex-grow: 1;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}