.container {
    padding: 0;
}

.header {
    background: url("images/hero image.jpg") no-repeat center/cover;
    height: 800px;
    padding-top: 50px;
}

.header-top {
    height: 50px;
    color: white;
}

.header-logo > img {
    height: 48px;
}

.os {
    font-family: Open Sans;
    font-style: normal;
}

.header-menu {
    column-gap: 23px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.header-contact {
    width: 245px;
    padding-left: 35px;
    border-left: 2px solid white;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.header-contact > p {
    margin-bottom: 0;
}

.header-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: #FF7400;
    padding: 14px 19px;
    width: 157px;
    margin-right: 165px;
}

.header-main {
    height: 700px;
    padding-top: 204px;
}

.tinos {
    font-family: Tinos;
    font-style: normal;
}

.header-main-top {
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
}

.header-main-middle {
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}

.header-main-bottom {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: white;
    column-gap: 8px;
}

.header-main-bottom::before,
.header-main-bottom::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: white;
}

.header-main-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: #FF7400;
    padding: 14px 19px;
    margin-top: 21px;
}

.second-block {
    height: 1000px;
    background: #c0bfbf;
    column-gap: 31px;
    row-gap: 14px;
}

.card {
    height: 330px;
    top: -107px;
    row-gap: 15px;
}

.card-item > img {
    width: 126px;
}

.card-item {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.mobile-button {
    width: 30px;
    row-gap: 5px;
    margin-right: 17px;
}

.mobile-button div {
    height: 3px;
    background: #FF7400;
}
