.contain {
    width: 1920px;
    margin: 0;
}

.contain p, h2 {
    margin: 0;
}

.contain-2 {
    padding: 0 283px;
}

.header {
    height: 36px;
    background: black;
    padding-left: 186px;
}

.hf {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header-2 {
    column-gap: 79px;
}

.header-2-item-text h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.header-2-item-text p {
    width: 168px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.header-2-item-2 p {
    width: 216px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}

.header-2-item-3 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.header-2-item-4-button {
    background: #E1EFD0;
    padding: 8px 16px;
    border-radius: 3px;
}

.header-2-item-4-button p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.header-2-item-5 h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.header-2-item-5 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    text-align: end;
}

.header-3 {
    margin: 35px 0 20px 0;
}

.header-3-but {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.hambur div {
    background: white;
    width: 20px;
    height: 3px;
}

.hambur {
    row-gap: 3px;
}

.input-group {
    width: 549px;
}

.long {
    width: 101px;
}

.header-3-right p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}

.h3rb {
    border-right: 1px solid #E1E5F8;
    padding-right: 15px;
}

.dist {
    width: 80px;
}

.main {
    padding-top: 30px;
}

.carousel {

}

.car1 {
    height: 390px;
    background: url("images/Carousel.png") no-repeat center/cover;
    border-radius: 20px;
}

.car1-left h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: black;
}

.car1-left > p {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.car1-left h3 {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.car1-but {
    width: 160px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.main-right {
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
}

.main-right-top {
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.middle1 h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.middle1 p {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.bottom-left {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.bottom-right {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
}

.main-right-middle {
    padding-left: 15px;
    column-gap: 15px;
}

.main-2 {
    padding-top: 70px;
}

.cardm {
    width: 431px;
    height: 184px;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    padding: 5px 5px 5px 30px;
    border-radius: 6px;
}

.cardm img {
    width: 148px;
}

.card-left-button {
    width: 86px;
    height: 26px;
    background: #005BB9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.card-left h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}

.card-left p {
    width: 168px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.main-3 {
    padding-top: 70px;
}

.dim {
    height: 55px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.main-3-button1 {
    width: 241px;
    background: #005BB9;
    color: #FFFFFF;
}

.main-3-button2 {
    width: 123px;
    background: white;
    color: #005BB9;
    border: 2px solid #005BB9;
}

.main-3-button3 {
    width: 229px;
    background: white;
    color: #005BB9;
    border: 2px solid #005BB9;
}

.main-card {
    padding-top: 12px;
    width: 316px;
}

.main-card h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
    padding-top: 10px;
    margin-bottom: 46px;
}

.main-card > p {
    font-size: 13px;
    line-height: 15px;
    color: #000000;

}

.another {
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.main-cards-top img {
    width: 100%;
    margin-bottom: 21px;
}

.orange {
    color: #FFB800;
}

.main-cards-middle p {
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.main-cards-middle img {
    width: 16px;
}
.main-4{
    column-gap: 30px;
}
.main-card h3{
    margin: 0;
}
.main-cards-bottom{
    margin-top: 15px;
}









