.contain{
    width: 1920px;
    margin: 0;
}
.header{
    height: 36px;
    background: black;
}
.hf {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.header-2-item-text h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin: 0;
}
.header-2-item-text p{
    width: 168px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    margin: 0;
}
