* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    color: white;
}

.header {
    height: 100vh;
    padding-top: 50px;
    background: url("images/hero image.jpg") no-repeat center/cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top__left {
    margin-left: 165px;
}
.header__top_right{
    display: flex;
}