* {
    padding: 0;
    margin: 0;
}


.container {
    width: 1440px;
    margin: 0 auto;
    color: white;
}

.header {
    height: 800px;
    background: url("images/hero image.jpg") no-repeat;
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header__top__left {
    margin-left: 165px;
}

.header__top_right {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.header__top__menu {
    display: flex;
    column-gap: 23px;
}

.open_sans {
    font-family: Open Sans;
    font-style: normal;
}

.header__top__menu__item {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__top__menu img {
    width: 17px;
}

.header__top__contact {
    padding-left: 35px;
    border-left: 2px solid white;
}

.header__top__contact__top {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.header__top__contact p {
    width: 154px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.header__top__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: #FF7400;
    padding: 14px 19px;
    margin: 0 165px 0 45px;
}

.header__main {
    width: 550px;
    margin: 204px 0 0 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__main__top {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 25px;
}

.header__main__middle {
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;
}
.header__main__bottom {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
.header__main__bottom::before,
.header__main__bottom::after{
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: white;
}

.header__main__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: #FF7400;
    padding: 14px 19px;
    margin-top: 21px;
}
.position{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 31px;
    left: 166px;
    bottom: -220px;
}
.position__items{
    width: 350px;
    height: 330px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 5px;
    padding-top: 35px;
}
.central{
    height: 600px;
    background: #fffd49;
}
.items__cards{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: black;

}
